/* 전체 페이지 스타일 */
.login-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* 배경 스타일 */
.login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #484848;
    z-index: -1;
}


.splash-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 110vw;
    height: 100vh; 
    overflow: hidden;
    transition: transform 1.5s ease-in-out; 
}

.splash-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.splash-slide {
    transform: translateX(-40%); 
}

.login-container {
    position: fixed; 
    top: 40%; 
    right: 20%; 
    transform: translateX(60%) translateY(-50%); 
    width: 300px;
    opacity: 0;
    transition: opacity 2s ease-in-out;

}

.login-show {
    opacity: 1;
}

.logo-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 50px; 
}

.logo-login {
    margin: 0 10px; 
    max-width: 50px; 
    height: auto; 
}

.letter-logo-login {
    margin: 0 5px;
    margin-top: 10px;
    max-width: 140px;
    height: auto; 
}

.form-group {
    margin-bottom: 10px;
}

input {
    width: calc(100% - 16px); 
    padding: 6px; 
    box-sizing: border-box;
    font-size: medium;
    border-radius: 5px;
    border: none;
}

/* 버튼 스타일 */
.button-style {
    background-color: #22B2D2;
    width: 100%; /* 버튼 너비를 입력 필드와 맞춤 */
    padding: 10px;
    color: white;
    font-size: medium;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #22B2D2; /* 버튼 hover 시 색상 */
}

.signup-link {
    margin-top: 10px; /* 로그인 폼과의 간격 */
  }

  .signup-link a {
    color: #22B2D2;
    text-decoration: none; 
    color: white;
    font-size: small;
  }
  